@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    /* font-family: 'Mulish', sans-serif; */
    font-family: "Poppins";
}

.nav {
    /* top: 50px; */
    height: auto;
    width: 100%;
    background-color: #41246D;
    /* position: relative; */
    border-bottom: 1px solid #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    padding: 20px 100px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    font-family: "Poppins";
    font-weight: 800;
    color: #fff;
    /* padding: 10px 10px 10px 10px; */
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    /* display: inline; */
    /* float: right; */
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    /* padding: 13px 10px 13px 10px; */
    text-decoration: none;
    margin: 0px 20px;
    font-size: 14px !important;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.nav>#nav-check {
    display: none;
}

.apply-btn {
    padding: 6px 20px;
    border-radius: 30px;
    width: 180px;
    background-color: #F24080;
}

.apply-btn:hover {
    background-color: #961040;
}

@media (max-width:600px) {
    .nav {
        padding: 20px 30px;

    }

    .nav>.nav-btn {
        position: absolute;
        right: 20px;
        display: flex;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        /* width: 50px; */
        /* border: 1px solid red; */
        padding: 5px;
        cursor: pointer;
        height: auto;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        /* background-color: rgba(0, 0, 0, 0.3); */
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        /* height: 10px; */
        margin: 6px 0px;
        border-top: 3px solid #eee;
    }

    .nav>.nav-links {
        position: fixed;
        display: block;
        width: 100%;
        background-color: #41246D;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        z-index: 10;
        transition: 0.8s;
        right: 100%;
    }

    .nav>.nav-links>a {
        display: block;
        margin: 20px 30px;
        /* width: 100%; */
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 100vh;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        right: 0px;
        overflow-y: auto;
    }
}

/* ===================== Hero page  ==============*/
.hero {
    height: auto;
    width: 100%;
    border: 1px solid #41246D;
    padding-top: 59px;
}

.hero-container {
    height: auto;
    padding: 100px 100px 0px 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #41246D;
    border: 1px solid #41246D;
}

.hero-container>div {
    width: 100%;
    height: auto;
    /* border: 1px solid  #fff; */
    position: relative !important;
}

.hero-container>div h4 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    /* padding-top: 80px; */
    line-height: 70px;
}

.hero-container>div p {
    padding-top: 20px;
    font-size: 15px;
    color: #fff;
}
.hero-btn a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    margin: 20px 0px;
    display: inline-block;
    background-color: #F24080;
}
/* .sdc::after{
    content: url(../images/educator-img4.png);
    opacity: 0.4;
    position: relative;
    left: 80%;
    top: -70%;
    z-index: 100;
} */
.hero-img-container-1{
    height: auto;
    max-width: 550px;
    position: relative;
    border-radius: 40%;
    border: 1px solid  #fff;
    background-color: #ebe9eb;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.hero-img{
    width: 100%;
    /* object-position: bottom; */
}
@media screen and (max-width: 700px) {
    .hero-container {
        padding: 30px 30px 0px 30px;
        flex-direction: column;
    }

    .hero-container>div h4 {
        font-size: 34px;
        text-align: center;
        padding-top: 24px;
        line-height: 39px;
    }

    .hero-btn {
        display: flex;
        justify-content: center;
    }

    .sdc {
        padding-bottom: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .hero-container>div p {
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
        color: #fff;
    }
}

@media screen and (max-width: 600px) {
    .hero-img-container-1{
        height: auto;
        max-width: 550px;
        padding: 10px;
    }
}


/* ============================AB ================ */
.ab{
    height: auto;
    width: 100%;
    border: 1px solid  #41246D;
}
.ab-container{
    display: flex;
    flex-direction: row;
    padding: 100px 60px;
}
.ab-container > div{
    padding:10px 40px;
    width: 100%;
    border: 1px solid  #efefef;
    height: auto;
}
.ab-container > div h3{
    font-size: 42px;
    font-weight: 800;
    line-height: 53px;
    display: flex;
}
.ab-container > div p{
    padding-top: 13px;
}
.ab-img-1{
    width: 100%;
    height: 350px;
    border-radius: 40px;
    border: 1px solid  #efefef;
}
.ab-img-1 img{
    border-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ab-img-2{
    height: 450px;
    width: 100%;
    border: 1px solid  #ebe9eb;
    border-radius: 40px;
    margin: 60px 0px 0px 0px;
}
.ab-img-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}
@media screen and (max-width: 700px){
    .ab-container{
        flex-direction: column;
        padding: 60px 30px;
    }
    .ab-img-1{
        width: 100%;
        height: 280px;
    }
    .ab-container > div h3{
        font-size: 21px;
        line-height: 25px;
    }
    .ab-container > div{
        padding:10px 0px;
    }
    .ab-img-2{
        height: 290px;
    }
    .ab-img-1{
        width: 100%;
        height: 250px;
    }
}
/* ========================== App;y section ================== */
.apply-container {
    padding-top: 60px;
}

.apply {
    height: 68vh;
    /* border: 1px solid  #41246D; */
    width: 100%;
    background: url(../images/educator-img12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.layer {
    background-color: #41246dd7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.apply-location {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid  #41246D; */
}

.apply-map {
    width: 80%;
    border: 1px solid #41246D;
    height: 70vh;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #41246D;

}

@media screen and (max-width: 700px) {
    .apply-location {
        height: auto;
        padding: 50px 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .apply-map {
        width: 100%;
        font-size: 16px;
        height: 34vh;
    }

    .layer {
        font-size: 15px;
        padding: 30px;
    }
}

.main-container {
    display: flex;
    padding: 10px 100px;
    flex-direction: row;
}

.main-content-1 {
    width: 100%;
    height: auto;
    /* border: 1px solid  #ebe5e7; */

}

.m-form {
    width: 100%;
    height: auto;
    /* border: 1px solid  #ebe5e7; */
}

.m-form form {
    width: 100%;
    border: 1px solid #eee;
    height: auto;
    padding: 40px;
    border-radius: 40px;
}

.main-content-1 h1 {
    font-size: 38px;
    line-height: 45px;
    font-weight: 800;
}

.apply-admin>div {
    height: 130px;
    /* border: 1px solid  #41246D; */
    max-width: 430px;
    background-color: #F8F8F8;
    margin: 30px 0px;
    border-radius: 30px;
}

.m-form form .title-form {
    text-align: center;
    padding-bottom: 20px;
}

.flex-col {
    display: flex;
    flex-direction: row;
}

.flex-col>div {
    width: 100%;
    margin: 10px;
}

.flex-col p {
    font-size: 13px;
}

.flex-col-1 p {
    font-size: 13px;
}

.flex-col input {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    padding-left: 12px;
    color: rgb(26, 24, 24);
    font-size: 14px;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
}

.flex-col select {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    padding-left: 12px;
    color: rgb(26, 24, 24);
    font-size: 14px;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
}

.flex-col-1 select {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    padding-left: 12px;
    color: rgb(26, 24, 24);
    font-size: 14px;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
}

.flex-col-1 {
    padding: 10px;
}

.flex-col-1 input {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    padding-left: 12px;
    color: rgb(26, 24, 24);
    font-size: 14px;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
}

.flex-col input:focus {
    outline: 0.4px solid rgb(211, 207, 207);
}

.flex-col select:focus {
    outline: 0.4px solid rgb(211, 207, 207);
}

.flex-col-1 select:focus {
    outline: 0.4px solid rgb(211, 207, 207);
}

.flex-col-1 input:focus {
    outline: 0.4px solid rgb(211, 207, 207);
}

.file {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}

.edu {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

/* .check-t{
    display: flex;
    align-items: center;
}
.check-t input{
    margin-left: 7px;
}
.check-r{
    padding-top: 10px;
}
.check-r .part{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    padding-left: 12px;
    color: rgb(26, 24, 24);
    font-size: 14px;
    border: 1px solid  #F8F8F8;
    background-color: #F8F8F8;
}
.check-r .part:focus{
    outline: 0.4px solid  rgb(211, 207, 207);
} */
.submit button {
    width: 100%;
    height: 40px;
    background-color: #F24080;
    border-radius: 30px;
    border: 1px solid #F24080;
    color: white;
    font-family: "Poppins";
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    .main-container {
        flex-direction: column;
        padding: 10px 30px;
    }

    .m-form form {
        padding: 6px !important;
    }

    .flex-col {
        flex-direction: column;
    }

    .main-content-1 h1 {
        font-size: 23px;
        line-height: 30px;
    }
}


/* ======================= FOOTER ------------------- */
footer {
    min-height: 100vh;
    width: 100%;
    border: 1px solid #41246D;
    background: url(../images/educator-img12.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.footer-overlay {
    background-color: #41246df0;
    padding: 100px 100px 0px 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.subscribe {
    height: auto;
    padding: 23px 20px;
    width: 100%;
    border-radius: 30px;
    background-color: #f240815e;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.subscribe-1 {
    max-width: 430px;
    height: auto;
    /* border: 1px solid  #000; */
}

.subscribe-2 {
    /* width: 70%; */
    height: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid  #000; */
}

.subscribe-2>div {
    width: 260px;
    margin: 10px;
}

.subscribe-2 input {
    width: 100%;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
    padding-left: 10px;
    font-family: "Poppins";
    font-size: 13px;
    height: 40px;
    background-color: #fff;
}

.sub-btn {
    padding: 8px;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #41246D;
    text-align: center;
    font-size: 14px;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 30px;
}

.foot li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.foot li {
    list-style: none;
    line-height: 40px;
}

.foot-1 {
    max-width: 300px;
    height: auto;
    /* border: 1px solid  red; */
}

.foot-1 p {
    font-size: 14px;
    padding-top: 6px;
}

.social {
    display: flex;
    /* border: 1px solid  #fff; */
    padding-top: 12px;
    max-width: 140px;
    justify-content: space-between;
}

.social>div {
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 100%;
}

.copy {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .subscribe {
        flex-direction: column;
        text-align: center;
    }

    .subscribe-2 {
        flex-direction: column;
    }

    .footer-overlay {
        background-color: #41246df0;
        padding: 100px 30px 0px 30px;
    }

    .subscribe p {
        font-size: 13px;
        color: #eee;
    }

    .foot {
        flex-direction: column;
    }

    .foot-links h4 {
        padding-top: 28px;
    }

    .foot-1 h3 {
        padding-top: 10px;
    }

    .copy {
        font-size: 11px;
    }
 
}

@media screen and (max-width: 338px){
    .subscribe-2>div {
        width: 100%;
    }
}